apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
patches:
  - patch: |-
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: backend-config
      data:
        NODE_ENV: "development"
        LOG_LEVEL: "debug"
